@import "tailwindcss";

@theme {
    /* Custom Colors */
    --color-primary: #0056D2;
    --color-secondary: #FF8C00;
    --color-background: #F9FAFB;
    --color-surface: #FFFFFF;

    /* Custom Fonts */
    --font-sans: var(--font-kanit), sans-serif;
    --font-serif: var(--font-noto-serif), serif;

    /* Custom Border Radius */
    --radius: 12px;
}